<div id="header">
  <h2>
    Expense report overview
  </h2>
  <!-- Create a new booklet -->
  <button mat-raised-button (click)="createExpenseReport()" color="primary" id="create-button">
      <mat-icon>add</mat-icon>
      Create expense report
  </button>
</div>
<!-- List of all booklets -->
<div id="list">
  <mat-list>
    <mat-list-item *ngFor="let expenseReport of expenseReports">
      <h3 class="list-item-header" mat-line>
        <strong>{{expenseReport.name}}</strong>
        <span matTooltip="Created at: {{expenseReport.createdOn.toDate() | date: 'medium'}}">
          <mat-icon inline="true">date_range</mat-icon>
          {{expenseReport.createdOn.toDate()| date: 'dd/MM/yyyy'}}
        </span>
      </h3>
      <!-- Creation date -->
      <p mat-line>{{expenseReport.description}}</p>
      <!-- <button mat-raised-button (click)="openExpenseReport(expenseReport)" color="primary" id="open-button">
        <mat-icon>open_in_new</mat-icon>
        Open
      </button> -->
    </mat-list-item>
  </mat-list>
