<mat-list-item>
  <h3 class="list-item-header" mat-line>
    <a class="header-name" [routerLink]="['/cathegory', cathegory.id]">
      {{cathegory.name}}
      <mat-icon>read_more</mat-icon>

    </a>
    <span class="list-item-left">
      <!-- Edit button -->
    <button mat-icon-button (click)="editCathegory()" matTooltip="Edit expense report">
        <mat-icon>edit</mat-icon>
      </button>

    </span>
  </h3>

  <p mat-line class="description">
    {{cathegory.endDate || "No end date"}}
  </p>

  <p mat-line class="description">
    Max budget = ₽{{cathegory.maxBudget}}
  </p>
</mat-list-item>
