<mat-list-item [ngClass]="[(cathegory.maxBudget - spendbudget) < 20 ? 'warn': '', (cathegory.maxBudget - spendbudget) < 0? 'danger': '']">
  <h3 class="list-item-header" mat-line>
    <p class="header-name">
      {{cathegory.name}}
    </p>

    <span class="list-item-left">
      <!-- Edit button -->
    <button mat-icon-button (click)="editCathegory()" matTooltip="Edit expense report">
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Archive button -->
    <button mat-icon-button (click)="archiveCathegory()" matTooltip="Toggle archivation of expense report">
      <mat-icon *ngIf="!cathegory.isArchived">archive</mat-icon>
      <mat-icon *ngIf="cathegory.isArchived">unarchive</mat-icon>
    </button>
    </span>
  </h3>

  <p mat-line class="description">
    {{cathegory.endDate || "No end date"}}
    Max budget = ₽{{cathegory.maxBudget}}
    Leftover budget = ₽{{cathegory.maxBudget - spendbudget}}
  </p>
</mat-list-item>
