rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /expense-reports/{documents=**} {
    	// Allow read & create on authenticated users but only edits for expense report creators
    	allow	read, create: if request.auth != null
    	allow update: if request.auth.uid == resource.data.createdBy
    }
  }
}
