<h1 mat-dialog-title>{{ isEdit ? 'Edit' : 'Create ' }} an expense report</h1>
<form [formGroup]="form" (submit)="submit()">
  <div mat-dialog-content>
    <p *ngIf="(owner | async) !== null" >
      <!-- Owner -->
      <strong>Owner: {{owner| async}}</strong>
    </p>
    <!-- Name -->
    <p>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="name.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
    </p>
    <!-- Members -->
    <p>
      <app-user-selector placeholder="Select members" [selectedUids]="this.form.get('members')?.value" [ownerUid]="data?.createdBy" (selectedUidsChanged)="membersUpdate($event)"></app-user-selector>
    </p>
    <!-- Description -->
    <p>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="discard()" type="reset">Discard</button>
    <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">{{ isEdit ? 'Edit' : 'Create' }}</button>
  </div>
</form>
