<div id="header">
  <h2>
    Expense report overview
  </h2>
  <!-- Create a new booklet -->
  <button mat-raised-button (click)="createExpenseReport()" color="primary" id="create-button">
    <mat-icon>add</mat-icon>
    Create expense report
  </button>
</div>
<!-- List of all booklets -->
<div id="list">
  <mat-list>
    <ng-container *ngFor="let document of documents; index as i">
      <app-list-item [document]="document" [dialog]="dialog"></app-list-item>
      <mat-divider *ngIf="i < documents.length - 1"></mat-divider>
    </ng-container>
  </mat-list>
</div>
